services:
  - type: web
    name: whiteboard-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: SECRET_KEY
        sync: false
      - key: MONGO_URL
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: PORT
        value: 5000
